ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  
  li {
    float: left;
  }

  li p {
    display: block;
    color: black;
    text-align: center;
    padding: 10px ;
    margin: 1px;
    text-decoration: none;
    
  }
  li p:hover {
    background-color: rgb(144, 133, 133);
  }